:host {
  display: block;
  position: relative;
  width: 1000px;
  margin: auto;
}


.swiper-slide{
  display: flex; align-items: center; justify-content: center;
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 40px;
  z-index: 0;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: radial-gradient(circle at 20% 50%, rgba(14.12%, 14.51%, 16.86%, 0.98) 0%, rgba(14.12%, 14.51%, 16.86%, 0.88) 100%);

}


.next-slide,
.prev-slide{
  color: black;
  z-index: 10000;
  cursor: pointer;
  outline: 0;
  background-color: #edeced;
  position: absolute;
  top: calc(50% - 40px);
}
.next-slide{
  right: -60px;
}

.prev-slide{
  left: -60px;
}


.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color:#000;
  opacity: 1;
  background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
  color:#fff;
  background: #007aff;
}