:host{
  display: flex;
  flex-direction: column;
  color: #303030;
  width: 100%;
}
h3{
  margin: 0;
}
.details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  .inner_content{

  }
}
.poster {
  display: block;
  //width: 450px;
  width: 100%;
  height: 320px;
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.title{
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.1em;
  font-weight: 700;
}

.date{
  color: #afaeaf;
  font-size: 1rem;
}

.favorite-icon{
  color: #afaeaf;
}

.favorite-icon.favorite{
  color: black;
}

.user-score{
  padding-right: 20px;
}

.vote-area{
  display: flex;
  align-items: center;
}
img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}
